<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Backbone.js Templates</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css"/>
</head>

<body>


  <div id="templatesapp">

    <ul id="templates-list"></ul>

    <!-- Button trigger modal -->
    <button class="btn btn-primary btn-lg" id="Add-Button">
      Add
    </button>
  
  </div>

  <div id="bootstrap-modal">

  </div>

  <div id="content">
    
  </div>

  <div>
    <button class="btn btn-primary btn-lg template-btn" data-value="1" disabled="disabled">
      Template 1
    </button>
    <button class="btn btn-primary btn-lg template-btn" data-value="2" disabled="disabled">
      Template 2
    </button>
    <button class="btn btn-primary btn-lg template-btn" data-value="3" disabled="disabled">
      Template 3
    </button>
    <button class="btn btn-primary btn-lg template-btn" data-value="4" disabled="disabled">
      Template 4
    </button>

  </div>
  
  <script src="js/jquery.js"></script>
  <script src="js/underscore.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/backbone.js"></script>
  <script src="js/backbone.localStorage.js"></script>
  <script src="js/base.js"></script>

  <!-- Templates -->

  <script type="text/template" id="item-template">
    <div>
      <a class="view" href="#" data-value="<%- title %>"><%- title %></a>
      <a class="destroy glyphicon glyphicon-remove-sign"></a>
    </div>
  </script>

  <script type="text/template" id="modal-template">
    <form name="input" action="#" method="POST" id="formTemplate">
      <div class="modal fade" id="templateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="template1">Template design </h4>
            </div>
            <div class="modal-body">
                    <input type="hidden" name="type" value="<%- data.type %>" id="type-modal"> 
                    <label for="title">Title: </label><input id="modal-title" name="title" type="text" value="<%- data.title %>"> 
                    <% if(data.type == 2) { %>
                      </br><label for="content">Text: </label><textarea type="textarea" name="content" value="<%- data.content %>" rows="4" cols="50" id="modal-content"></textarea>
                    <% } else if(data.type>2) { %>
                      </br><label for="file">Select file: <%- data.content %></label><input type="file" id="files" name="files[]" title="test"/>
                      <input type="hidden" name="content" id="modal-content" value="<%- data.content %>" > 
                    <% } %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="save-modal-template">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </script>

  <script type="text/template" id="content-template">
    <div>
      <h3><%- title %></h3>
      <% if (type == 2) { %>

      <% } else if (type == 3) { %>
        <img src="/assets/<%- content %>">
      <% } else if (type == 4) { %> 
          <iframe id="viewer" src = "/ViewerJS/#../assets/<%- content %>" width='400' height='400' allowfullscreen webkitallowfullscreen></iframe>
      <% }%>
    </div>
  </script>

  </body>
</html>
