#right-hand-panel {
  width: 250px;
  background: #dddddd;
  height: 100%;
  position: absolute;
  right: 0px;
  -webkit-box-shadow: -5px 0 0 0 rgba(221,221,221,0.1);
  box-shadow: -5px 0 0 0 rgba(221,221,221,0.1);
  overflow: auto;
  z-index: 3;
  display: none;

  ul {
    margin: 50px 0;
    list-style-type: none;

    li {
      height: 170px;
      width: 170px;
      margin: 10px 0;
      background: #bbbbbb;
      cursor: pointer;
      padding: 10px;

      &:hover {
        background: #cccccc;
      }
    }
  }
}